
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero inner-page" style="background-image: url('/Frontend/images/hero_1_a.jpg');">

    <div class="container">
        <div class="row align-items-end ">
            <div class="col-lg-5">

                <div class="intro">
                    <h1><strong _msttexthash="60814" _msthash="14">Liste</strong></h1>
                    <div class="custom-breadcrumbs" _msttexthash="329589" _msthash="15"><a href="index.html" _istranslated="1">Ana Sayfa</a> <span class="mx-2" _istranslated="1">/</span> <strong _istranslated="1">Listeler</strong></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="section-heading"><strong _msttexthash="293683" _msthash="16">Araç İlanları</strong></h2>
                <p class="mb-5" _msttexthash="2131662" _msthash="17">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">

                <div class="listing d-block  align-items-stretch">
                    <div class="listing-img h-100 mr-4">
                        <img src="~/Frontend/images/car_6.jpg" alt="Resim" class="img-fluid" _mstalt="57161" _msthash="18">
                    </div>
                    <div class="listing-contents h-100">
                        <h3 _msttexthash="314951" _msthash="19">Mitsubishi Pajero</h3>
                        <div class="rent-price">
                            <font _mstmutation="1" _msttexthash="150085" _msthash="20"><strong _mstmutation="1" _istranslated="1">$389.00</strong><span class="mx-1" _mstmutation="1" _istranslated="1">/</span>gün </font>
                        </div>
                        <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79066" _msthash="21"><span class="caption" _mstmutation="1" _istranslated="1">Bavul:</span> <span class="number" _mstmutation="1" _istranslated="1">8</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="140205" _msthash="22"><span class="caption" _mstmutation="1" _istranslated="1">Kapılar:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79716" _msthash="23"><span class="caption" _mstmutation="1" _istranslated="1">Yolcu:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                        </div>
                        <div>
                            <p _msttexthash="5403359" _msthash="24">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
                            <p><a href="#" class="btn btn-primary btn-sm" _msttexthash="196547" _msthash="25">Şimdi Kirala</a></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">

                <div class="listing d-block  align-items-stretch">
                    <div class="listing-img h-100 mr-4">
                        <img src="~/Frontend/images/car_5.jpg" alt="Resim" class="img-fluid" _mstalt="57161" _msthash="26">
                    </div>
                    <div class="listing-contents h-100">
                        <h3 _msttexthash="153062" _msthash="27">Nissan Moco</h3>
                        <div class="rent-price">
                            <font _mstmutation="1" _msttexthash="150085" _msthash="28"><strong _mstmutation="1" _istranslated="1">$389.00</strong><span class="mx-1" _mstmutation="1" _istranslated="1">/</span>gün </font>
                        </div>
                        <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79066" _msthash="29"><span class="caption" _mstmutation="1" _istranslated="1">Bavul:</span> <span class="number" _mstmutation="1" _istranslated="1">8</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="140205" _msthash="30"><span class="caption" _mstmutation="1" _istranslated="1">Kapılar:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79716" _msthash="31"><span class="caption" _mstmutation="1" _istranslated="1">Yolcu:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                        </div>
                        <div>
                            <p _msttexthash="5403359" _msthash="32">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
                            <p><a href="#" class="btn btn-primary btn-sm" _msttexthash="196547" _msthash="33">Şimdi Kirala</a></p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4">

                <div class="listing d-block  align-items-stretch">
                    <div class="listing-img h-100 mr-4">
                        <img src="~/Frontend/images/car_4.jpg" alt="Resim" class="img-fluid" _mstalt="57161" _msthash="34">
                    </div>
                    <div class="listing-contents h-100">
                        <h3 _msttexthash="150410" _msthash="35">Honda Fitta</h3>
                        <div class="rent-price">
                            <font _mstmutation="1" _msttexthash="150085" _msthash="36"><strong _mstmutation="1" _istranslated="1">$389.00</strong><span class="mx-1" _mstmutation="1" _istranslated="1">/</span>gün </font>
                        </div>
                        <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79066" _msthash="37"><span class="caption" _mstmutation="1" _istranslated="1">Bavul:</span> <span class="number" _mstmutation="1" _istranslated="1">8</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="140205" _msthash="38"><span class="caption" _mstmutation="1" _istranslated="1">Kapılar:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79716" _msthash="39"><span class="caption" _mstmutation="1" _istranslated="1">Yolcu:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                        </div>
                        <div>
                            <p _msttexthash="5403359" _msthash="40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
                            <p><a href="#" class="btn btn-primary btn-sm" _msttexthash="196547" _msthash="41">Şimdi Kirala</a></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">

                <div class="listing d-block  align-items-stretch">
                    <div class="listing-img h-100 mr-4">
                        <img src="~/Frontend/images/car_3.jpg" alt="Resim" class="img-fluid" _mstalt="57161" _msthash="42">
                    </div>
                    <div class="listing-contents h-100">
                        <h3 _msttexthash="150488" _msthash="43">Skoda Laura</h3>
                        <div class="rent-price">
                            <font _mstmutation="1" _msttexthash="150085" _msthash="44"><strong _mstmutation="1" _istranslated="1">$389.00</strong><span class="mx-1" _mstmutation="1" _istranslated="1">/</span>gün </font>
                        </div>
                        <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79066" _msthash="45"><span class="caption" _mstmutation="1" _istranslated="1">Bavul:</span> <span class="number" _mstmutation="1" _istranslated="1">8</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="140205" _msthash="46"><span class="caption" _mstmutation="1" _istranslated="1">Kapılar:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79716" _msthash="47"><span class="caption" _mstmutation="1" _istranslated="1">Yolcu:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                        </div>
                        <div>
                            <p _msttexthash="5403359" _msthash="48">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
                            <p><a href="#" class="btn btn-primary btn-sm" _msttexthash="196547" _msthash="49">Şimdi Kirala</a></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">

                <div class="listing d-block  align-items-stretch">
                    <div class="listing-img h-100 mr-4">
                        <img src="~/Frontend/images/car_2.jpg" alt="Resim" class="img-fluid" _mstalt="57161" _msthash="50">
                    </div>
                    <div class="listing-contents h-100">
                        <h3 _msttexthash="169429" _msthash="51">Mazda LaPuta</h3>
                        <div class="rent-price">
                            <font _mstmutation="1" _msttexthash="150085" _msthash="52"><strong _mstmutation="1" _istranslated="1">$389.00</strong><span class="mx-1" _mstmutation="1" _istranslated="1">/</span>gün </font>
                        </div>
                        <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79066" _msthash="53"><span class="caption" _mstmutation="1" _istranslated="1">Bavul:</span> <span class="number" _mstmutation="1" _istranslated="1">8</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="140205" _msthash="54"><span class="caption" _mstmutation="1" _istranslated="1">Kapılar:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79716" _msthash="55"><span class="caption" _mstmutation="1" _istranslated="1">Yolcu:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                        </div>
                        <div>
                            <p _msttexthash="5403359" _msthash="56">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
                            <p><a href="#" class="btn btn-primary btn-sm" _msttexthash="196547" _msthash="57">Şimdi Kirala</a></p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4">

                <div class="listing d-block  align-items-stretch">
                    <div class="listing-img h-100 mr-4">
                        <img src="~/Frontend/images/car_1.jpg" alt="Resim" class="img-fluid" _mstalt="57161" _msthash="58">
                    </div>
                    <div class="listing-contents h-100">
                        <h3 _msttexthash="177086" _msthash="59">Buick Lakros</h3>
                        <div class="rent-price">
                            <font _mstmutation="1" _msttexthash="150085" _msthash="60"><strong _mstmutation="1" _istranslated="1">$389.00</strong><span class="mx-1" _mstmutation="1" _istranslated="1">/</span>gün </font>
                        </div>
                        <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79066" _msthash="61"><span class="caption" _mstmutation="1" _istranslated="1">Bavul:</span> <span class="number" _mstmutation="1" _istranslated="1">8</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="140205" _msthash="62"><span class="caption" _mstmutation="1" _istranslated="1">Kapılar:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                            <div class="listing-feature pr-4">
                                <font _mstmutation="1" _msttexthash="79716" _msthash="63"><span class="caption" _mstmutation="1" _istranslated="1">Yolcu:</span> <span class="number" _mstmutation="1" _istranslated="1">4</span></font>
                            </div>
                        </div>
                        <div>
                            <p _msttexthash="5403359" _msthash="64">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
                            <p><a href="#" class="btn btn-primary btn-sm" _msttexthash="196547" _msthash="65">Şimdi Kirala</a></p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-5">
                <div class="custom-pagination">
                    <a href="#" _msttexthash="4459" _msthash="66">1</a>
                    <span _msttexthash="4550" _msthash="67">2</span>
                    <a href="#" _msttexthash="4641" _msthash="68">3</a>
                    <a href="#" _msttexthash="4732" _msthash="69">4</a>
                    <a href="#" _msttexthash="4823" _msthash="70">5</a>
                </div>
            </div>
        </div>
    </div>
</div>