
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero inner-page" style="background-image: url('/Frontend/images/hero_1_a.jpg');">

    <div class="container">
        <div class="row align-items-end ">
            <div class="col-lg-5">

                <div class="intro">
                    <h1><strong _msttexthash="183001" _msthash="14">Görüşler</strong></h1>
                    <div class="custom-breadcrumbs" _msttexthash="458068" _msthash="15"><a href="index.html" _istranslated="1">Ana Sayfa</a> <span class="mx-2" _istranslated="1">/</span> <strong _istranslated="1">Görüşler</strong></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="section-heading"><strong _msttexthash="183001" _msthash="16">Görüşler</strong></h2>
                <p class="mb-5" _msttexthash="2131662" _msthash="17">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p _msttexthash="8208057" _msthash="18">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="~/Frontend/images/person_1.jpg" alt="Resim" class="img-fluid mr-3" _mstalt="57161" _msthash="19">
                        <div class="author-name">
                            <span class="d-block" _msttexthash="278226" _msthash="20">Mike Balıkçı</span>
                            <span _msttexthash="344461" _msthash="21">Şirket Sahibi, Ford</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p _msttexthash="8208057" _msthash="22">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="~/Frontend/images/person_2.jpg" alt="Resim" class="img-fluid mr-3" _mstalt="57161" _msthash="23">
                        <div class="author-name">
                            <span class="d-block" _msttexthash="178074" _msthash="24">Jean Stanley</span>
                            <span _msttexthash="76804" _msthash="25">Gezgin</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p _msttexthash="8208057" _msthash="26">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="~/Frontend/images/person_3.jpg" alt="Resim" class="img-fluid mr-3" _mstalt="57161" _msthash="27">
                        <div class="author-name">
                            <span class="d-block" _msttexthash="131898" _msthash="28">Katie Gül</span>
                            <span _msttexthash="139334" _msthash="29">Müşteri</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p _msttexthash="8208057" _msthash="30">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="~/Frontend/images/person_1.jpg" alt="Resim" class="img-fluid mr-3" _mstalt="57161" _msthash="31">
                        <div class="author-name">
                            <span class="d-block" _msttexthash="278226" _msthash="32">Mike Balıkçı</span>
                            <span _msttexthash="344461" _msthash="33">Şirket Sahibi, Ford</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p _msttexthash="8208057" _msthash="34">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="~/Frontend/images/person_2.jpg" alt="Resim" class="img-fluid mr-3" _mstalt="57161" _msthash="35">
                        <div class="author-name">
                            <span class="d-block" _msttexthash="178074" _msthash="36">Jean Stanley</span>
                            <span _msttexthash="76804" _msthash="37">Gezgin</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p _msttexthash="8208057" _msthash="38">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="~/Frontend/images/person_3.jpg" alt="Resim" class="img-fluid mr-3" _mstalt="57161" _msthash="39">
                        <div class="author-name">
                            <span class="d-block" _msttexthash="131898" _msthash="40">Katie Gül</span>
                            <span _msttexthash="139334" _msthash="41">Müşteri</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p _msttexthash="8208057" _msthash="42">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="~/Frontend/images/person_1.jpg" alt="Resim" class="img-fluid mr-3" _mstalt="57161" _msthash="43">
                        <div class="author-name">
                            <span class="d-block" _msttexthash="278226" _msthash="44">Mike Balıkçı</span>
                            <span _msttexthash="344461" _msthash="45">Şirket Sahibi, Ford</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p _msttexthash="8208057" _msthash="46">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="~/Frontend/images/person_2.jpg" alt="Resim" class="img-fluid mr-3" _mstalt="57161" _msthash="47">
                        <div class="author-name">
                            <span class="d-block" _msttexthash="178074" _msthash="48">Jean Stanley</span>
                            <span _msttexthash="76804" _msthash="49">Gezgin</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p _msttexthash="8208057" _msthash="50">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="~/Frontend/images/person_3.jpg" alt="Resim" class="img-fluid mr-3" _mstalt="57161" _msthash="51">
                        <div class="author-name">
                            <span class="d-block" _msttexthash="131898" _msthash="52">Katie Gül</span>
                            <span _msttexthash="139334" _msthash="53">Müşteri</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

